SECRET_KEY=django-insecure-cambia-esto-por-una-clave-segura
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.mysql
DB_NAME=splitsmart_db
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

ANTHROPIC_API_KEY=sk-ant-...

FRONTEND_URL=http://localhost:5173
